language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "pypy"

install:
  - pip install -U pip wheel setuptools
  - pip install sphinx Twisted
  - pip install .[test]

script:
  - python -m testtools.run testtools.tests.test_suite
  - make clean-sphinx docs
