name: Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.5, 3.6, 3.7, 3.8, 3.9, pypy3]
        os: [ubuntu-18.04]

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python }} (deadsnakes)
        uses: deadsnakes/action@v1.0.0
        if: endsWith(matrix.python-version, '-dev')
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up Python ${{ matrix.python-version }}
        if: "!endsWith(matrix.python-version, '-dev')"
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Ubuntu cache
        uses: actions/cache@v1
        if: startsWith(matrix.os, 'ubuntu')
        with:
          path: ~/.cache/pip
          key:
            ${{ matrix.os }}-${{ matrix.python-version }}-${{ hashFiles('**/setup.py')
            }}
          restore-keys: |
            ${{ matrix.os }}-${{ matrix.python-version }}-

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -U wheel setuptools
          python -m pip install sphinx Twisted
          python -m pip install .[test]

      - name: Tests
        shell: bash
        run: |
          python -m testtools.run testtools.tests.test_suite

      - name: Docs
        shell: bash
        run: |
          make clean-sphinx docs

